<p id="notice"><%= notice %></p>


<center> 
<h1>Minhas Tarefas</h1>

<div class="col-md-8" >
<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Descrição</th>
      <th>Data</th>
      <th>Usuário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @tarefas.each do |tarefa| %>
      <% if tarefa.user == current_user%>
        <tr>
          <td><%= tarefa.title %></td>
          <td><%= tarefa.body.truncate_words(3) %></td>
          <td><%= tarefa.date %></td>
          <td><%= tarefa.user.username %></td>
          <td><%= link_to 'Ler', tarefa %></td>
          <td><%= link_to 'Editar', edit_tarefa_path(tarefa) %></td>
          <td><%= link_to 'Deletar', tarefa, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div> 
</center>

<br>
<div class="col-md-4">
      <p>
        <%= link_to 'Adicione Nova Tarefa', new_tarefa_path %><br>
      </p>
</div>
